html,
body {
  overflow: hidden;
  width: 100wh;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: crosshair;
}

#canvas1 {
  background: linear-gradient(to bottom, red, green, blue);
  position: absolute;
  top: 0;
  left: 0;
  /* border: 3px solid white; */
  width: 100%;
  height: 100%;
}

#collisionCanvas {
  opacity: 0;
}
